*{
	margin:0;
	padding:0;
	box-sizing:border-box;  
}
.fullwrap{
	margin: 0 auto;
	border: 4px solid #5f9da0;
	border-radius: 10px;
	width: 410px;
	height: 600px;
}
.name{
	background-color: #5f9da0;
	height: 50px;
	text-align: right;
	line-height: 55px;
	color: #fff;
	margin-top: 15px;
	font-size: 20px; 
}
input{
	width: 380px;
	height: 45px;
	border: 3px solid #5f9da0;
	border-radius: 5px;
	margin: 10px 10px;
}
.battery{
	background-color: #5f9da0;
	height: 50px;
	width: 130px;
	margin-bottom: 20px;
	margin-right: 10px;
	float: right; 
}
.figure{
	float: left;
	border: 3px solid #5f9da0;
	border-radius: 10px;
	height: 80px;
	width: 80px;
	color:  #5f9da0;
	line-height: 80px;
	text-align: center;
	margin-right: 15px;
	font-size: 25px;
}
.figure:nth-child(4n){
	margin: 0px;
}
.clearfix{
	clear: both;
}
.row{
	padding: 0px 17px 15px 17px;
}
.figure:hover{
	background-color: #5f9da0;
	color: #fff; 
}
.figure:active{
	background-color: #5f9da0;
	color: red;
}